.button {
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.large {
  padding: 10px;
}

.primary {
  color: #fff;
  background: #5a57cb;
}
