.board {
  flex: 1;
  /* padding: 15px; */
  /* display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 15px; */
  clear: both;
}

.board_item {
  background: #eee;
  border-radius: 3px;
  padding: 10px;
  float: left;
  width: calc(100% / 7 - 16px);
}
