.button_add {
  width: 16px;
  height: 16px;
  background: #a0a8b1;
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  display: inline-block;
}

.button_add:hover {
  background: #8e969e;
}

.button_add:before,
.button_add:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #ffffff;
}

.button_add:before {
  left: 50%;
  bottom: 50%;
  margin-bottom: -1px;
  margin-left: -4px;
}

.button_add:after {
  left: 50%;
  bottom: 50%;
  margin-bottom: -1px;
  margin-left: -4px;
  transform: rotate(90deg);
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal_content {
  width: 90%;
  max-width: 300px;
  background: #fff;
  padding: 15px;
  position: relative;
  z-index: 9900;
  border-radius: 4px;
}
