.button_add {
  width: 12px;
  height: 12px;
  line-height: 8px;
  background: #a0a8b1;
  position: relative;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.button_add:hover {
  background: #8e969e;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal_content {
  width: 90%;
  max-width: 300px;
  background: #fff;
  padding: 15px;
  position: relative;
  z-index: 9900;
  border-radius: 4px;
}
